/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2019, 3:48:43 PM
    Author     : Phyrexian
*/

.root { -fx-focus-color: transparent;
-fx-background-color: whitesmoke;
}

.field {
    -fx-background-color: whitesmoke;
}

.field:hover{
    -fx-background-color: #e8e8e8;
}

.field:disabled{
     -fx-background-color: whitesmoke;
     -fx-opacity: 1;
}

.win{
         -fx-background-color: greenyellow;
}

.win:disabled{
         -fx-background-color: greenyellow;
}